 <!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="ComponentsTestSuite">

    <parameter name="runEnv" value="sauce"></parameter>
    <parameter name="travis" value="on"></parameter>
	
    <!-- For Desktop -->
    <parameter name="desktop" value="on"></parameter><!-- Set the tests to run Desktop -->
    <parameter name="platform" value="Windows"></parameter><!-- MAC or Windows -->
    <parameter name="sauceBrowser" value="Chrome"></parameter><!-- browser on sauce machine, eg. safari, chrome, ie -->
    <parameter name="sauceBrowserVer" value="46.0"></parameter><!-- browser version on sauce machine -->
    <parameter name="localBrowser" value="firefox"></parameter><!-- browser on your local. eg firefox -->	
	
    <!-- For Mobile -->
    <parameter name="mobile" value="off"></parameter><!-- set the tests to run on mobile devices -->
    <parameter name="appiumDriver" value="iOS"></parameter> <!-- appium driver - iosDriver or Android Driver -->
    <parameter name="mobDeviceName" value="iPhone 6 Plus"></parameter><!-- Android or iOS : iPhone 6 Plus/iPad Air/ iPad Pro -->
    <parameter name="mobilePlatformVer" value="9.2"></parameter><!-- mobile OS version -->
    <parameter name="mobBrowser" value="Safari"></parameter><!-- browser eg.safari, chrome -->
    <parameter name="appiumVer" value="1.5"></parameter><!-- version of appium on sauce -->

    <test name="TypographyTests">
        <groups>
            <run>
                <include name="desktop"/>
            </run>
        </groups>
        <packages>
            <package name="typographyTests"/>
        </packages>        
    </test>
</suite>