<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >  
<suite name="ComponentsTestSuite">  <parameter name="runEnv" value="sauce"></parameter> <parameter name="travis"
                                                                                                   value="on"></parameter>
    <!-- For Desktop --> 
    <parameter name="desktop" value="on"></parameter><!-- Set the tests to run Desktop --> 
    <parameter name="platform" value="OSX 10.8"></parameter><!-- MAC or Windows --> 
    <parameter name="vmBrowser" value="chrome"></parameter><!-- browser on sauce machine, eg. safari, chrome, ie --> 
    <parameter name="vmBrowserVer" value="43"></parameter><!-- browser version on sauce machine --> 
    <parameter name="localBrowser" value="firefox"></parameter><!-- browser on your local. eg firefox -->  

    <!-- For Mobile --> 
    <parameter name="mobile" value="on"></parameter><!-- set the tests to run on mobile devices --> 
    <parameter name="mobPlatform" value="iOS"></parameter><!-- Android or iOS --> 
    <parameter name="mobBrowser" value="safari"></parameter><!-- browser eg. safari, chrome --> 
    <parameter name="appiumVer" value="1.4"></parameter><!-- version of appium on sauce --> 

    <test name="ResponsiveTests"> 
        <packages> <package name="elementsTests"/> 
        </packages>         
    </test>
     
</suite>