<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="ComponentsTestSuite">

    <parameter name="runEnv" value="sauce"></parameter>
    <parameter name="travis" value="on"></parameter>
    <parameter name="platform" value="Windows 10"></parameter>
    <parameter name="vmBrowser" value="ie"></parameter>
    <parameter name="vmBrowserVer" value="11"></parameter>
    <parameter name="localBrowser" value="firefox"></parameter>
    
    <test name="ResponsiveTests">
        <packages>
            <package name="elementsTests"/>
        </packages>
    </test>
</suite>